.top{
    background-image: linear-gradient(to right, rgba(67, 135, 180, 0.318), rgb(91, 147, 237,1));
}
mat-icon {
    display: inline-flex;
    vertical-align:sub;
    margin-right: 10px;
}
.mat-toolbar-single-row {
    padding: 0px!important;
}
.customerCare{
    font-size: 15px;
    float: right;
}

@media only screen and (max-width: 576px)
 {
    .customerCare{
        float: none;
    }
}